body {
    background-color: #f4f4f4;
}

.list-group-item {
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
}

.badge {
    font-size: 0.8em;
}

.accordion-button {
    background-color: #e9ecef;
    color: #212529;
}

.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    color: #212529;
}

.accordion-button:focus {
    box-shadow: none;
}


.logo {
    margin: 10px 0; /* Set desired margin; top and bottom for spacing */
}

.logo a {
    text-decoration: none;
    color: inherit;
}
.logo img {
    display: inline-block;
    vertical-align: middle;
}


.ml-2 {
    margin-left: 8px; /* Adjust the value to increase or decrease spacing between image and text */
}

.fixed-size-logo {
    width: 30px; /*Adjust the width as needed */
    height: 30px; /*Maintain aspect ratio */
    object-fit: contain; /*Maintain aspect ratio */
}

