body {
    background-color: #f4f4f4;
}

.list-group-item {
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
}

.badge {
    font-size: 0.8em;
}

.accordion-button {
    background-color: #e9ecef;
    color: #212529;
}

.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    color: #212529;
}

.accordion-button:focus {
    box-shadow: none;
}


.logo {
    margin: 10px 0; /* Set desired margin; top and bottom for spacing */
}

.logo a {
    text-decoration: none;
    color: inherit;
}
.logo img {
    display: inline-block;
    vertical-align: middle;
}


.ml-2 {
    margin-left: 8px; /* Adjust the value to increase or decrease spacing between image and text */
}

.fixed-size-logo {
    width: 30px; /*Adjust the width as needed */
    height: 30px; /*Maintain aspect ratio */
    object-fit: contain; /*Maintain aspect ratio */
}


.person {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
}

.person:nth-child(even) {
    flex-direction: row-reverse;
}

.person img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin: 10px;
}

.email-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: larger;
}

.email a {
    color: grey; /* Change the color to a nicer one, e.g., tomato */
    text-decoration: none; /* Remove underline */
    font-size: larger;
}

.email a:hover {
    color: #ff4500; /* Change color on hover, e.g., orange red */
}

@media screen and (max-width: 770px) {
    .person {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .person:nth-child(even) {
        flex-direction: column;
    }
    .person img {
        margin: 0 0 10px 0;
    }
}

@media screen and (min-width: 771px) {
    .person {
        margin-bottom: 0px; /* Adjust this value to control the overlap */
    }
    .person:nth-child(even) {
        margin-bottom: 0px; /* Adjust this value to control the overlap */
    }
}
