@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');

:root {
    --snacks-light-green: #AFC3A1;
    --snacks-dark-green: #5C744A;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: var(--snacks-dark-green);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--snacks-light-green);
}

.list-group-item {
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
}

.badge {
    font-size: 0.8em;
}

.accordion-button {
    background-color: #e9ecef;
    color: #212529;
}

.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    color: #212529;
}

.accordion-button:focus {
    box-shadow: none;
}

.logo {
    margin: 10px 0;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
}

.ml-2 {
    margin-left: 8px;
}

.fixed-size-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.person {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
}

.person:nth-child(even) {
    flex-direction: row-reverse;
}

.person img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin: 10px;
}

.email-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: larger;
}

.email a {
    color: grey;
    text-decoration: none;
    font-size: larger;
}

.email a:hover {
    color: #ff4500;
}

@media screen and (max-width: 770px) {
    .person {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .person:nth-child(even) {
        flex-direction: column;
    }
    .person img {
        margin: 0 0 10px 0;
    }
}

@media screen and (min-width: 771px) {
    .person {
        margin-bottom: 0px;
    }
    .person:nth-child(even) {
        margin-bottom: 0px;
    }
}

.large-text {
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--snacks-dark-green);
}

.text-light-green {
    color: var(--snacks-light-green);
}

.text-dark-green {
    color: var(--snacks-dark-green);
}
