.bordered-text-box-connector {
    position: relative;
    width: 100%;
    background-color: white;
    border: 3px solid #2E5C9A;
    border-radius: 12px;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    max-width: 400px;
    margin-top: -120px;
}

.connector-container {
    position: absolute;
    top: -40px;
    left: 40%;
    right: 0;
    height: 3px;
    z-index: 1;
}

@media (min-width: 768px) {
    .connector-container {
        left: -20%;
    }
}

.connector-vertical {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3px;
    height: 120px;
    background-color: #2E5C9A;
}

.connector-horizontal {
    width: 100%;
    height: 100%;
    background-color: #2E5C9A;
}
