.bordered-text-box-connector {
    position: relative;
    width: 100%;
    background-color: white;
    border: 3px solid #2E5C9A;
    border-radius: 12px;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    max-width: 400px;
    margin-top: -30px;
    margin-bottom: 40px;
}

.image-connector {
    position: absolute;
    top: 37%;
    left: 37%;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 5;
}

.connector-line-vertical {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    background-color: #2E5C9A;
    height: 75%;
}

.connector-line-horizontal {
    display: none;
    position: absolute;
    height: 3px;
    background-color: #2E5C9A;
}

@media (min-width: 768px) {
    .bordered-text-box-connector {
        margin-top: -120px;
    }

    .connector-line-vertical {
        height: 60%;
    }

    .connector-line-horizontal {
        display: block;
        top: 60%;
        left: 0;
        width: 40%; 
    }
}
