.bordered-text-box-connector {
    position: relative;
    width: 100%;
    background-color: white;
    border: 3px solid #074BD8;
    border-radius: 12px;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    max-width: 520px;
    margin-top: -30px;
    margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .bordered-text-box-connector {
        max-width: 840px;
    }
}

@media (min-width: 1200px) {
    .bordered-text-box-connector {
        max-width: 920px;
    }
}

.image-connector {
    position: absolute;
    top: 37%;
    left: 37%;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 5;
}

.image-connector-object {
    top: 36%;
    left: 80%;
}

.connector-line-vertical {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    background-color: #074BD8;
    height: 75%;
}

.connector-line-horizontal {
    display: none;
    position: absolute;
    height: 3px;
    background-color: #074BD8;
}

@media (min-width: 768px) {
    .bordered-text-box-connector {
        margin-top: -120px;
    }

    .connector-line-vertical {
        height: 60%;
    }

    .connector-line-horizontal {
        display: block;
        top: 60%;
        left: 0;
        width: 40%;
    }

    .image-connector-object {
        top: 38%;
        left: 80%;
    }
}

.bim-modellinfo-badge {
    background: linear-gradient(to right, #074BD8, #1a3660);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 50px 5px 10px;
    color: white;
    display: inline-block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: left;
    white-space: nowrap;
}

.bim-objektinfo-badge-1 {
    background: linear-gradient(to right, #074BD8, #1a3660);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    display: block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 0.55rem;
    text-align: left;
    white-space: nowrap;
}

@media (min-width: 576px) {
    .bim-objektinfo-badge-1 {
        font-size: 0.65rem;
    }
}

@media (min-width: 768px) {
    .bim-objektinfo-badge-1 {
        font-size: 0.8rem;
    }
}

.bim-objektinfo-badge-2 {
    background: linear-gradient(to right, #4A90E2, #074BD8);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    display: block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 0.55rem;
    text-align: left;
    white-space: nowrap;
}

@media (min-width: 576px) {
    .bim-objektinfo-badge-2 {
        font-size: 0.65rem;
    }
}

@media (min-width: 768px) {
    .bim-objektinfo-badge-2 {
        font-size: 0.8rem;
    }
}

.snacks-image-shadow {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    display: block;
    max-width: 100%;
    /* border-radius: 8px; */
}


.scroll-fade-image {
    opacity: 0.10;
    transform: translateY(100px) scale(0.96);
    transition: opacity 2.0s ease, transform 1.0s ease;
}



.scroll-fade-image.is-visible {

    opacity: 1;

    transform: translateY(0) scale(1);

}

