.bordered-text-box-connector {
    position: relative;
    width: 100%;
    background-color: white;
    border: 3px solid #2E5C9A;
    border-radius: 12px;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    max-width: 400px;
    margin-top: -30px;
    margin-bottom: 40px;
}

.connector-container {
    position: absolute;
    top: 0;
    left: 37.5%;
    right: 0;
    height: 3px;
    z-index: 1;
}

.connector-vertical {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3px;
    height: 60px;
    background-color: #2E5C9A;
}

.connector-horizontal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #2E5C9A;
}

@media (min-width: 768px) {
    .bordered-text-box-connector {
        margin-top: -120px;
    }

    .connector-container {
        top: -60px;
        left: -25%;
        right: 50px;
    }

    .connector-vertical {
        height: 100px;
    }

    .connector-horizontal {
        display: block;
    }
}
